---
import { getCollection } from "astro:content";
import { SITE_BASE } from "../../consts";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Page.astro";
import LinkNotes from "../../components/Links/LinkNotes.astro";
import LinkYoutube from "../../components/Links/LinkYoutube.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <section>
    {
      posts.map((post, index) => {
        return (
          <article
            class={`article-md ${
              index !== posts.length - 1 && "border-b-2 border-tertiary"
            }`}
          >
            <FormattedDate date={post.data.pubDate} />
            <picture class="grid grid-cols-3 gap-x-6 content-center items-center grid-flow-row">
              <figcaption class="col-span-3 md:col-span-2">
                <a href={`${SITE_BASE}/blog/${post.slug}`}>
                  <h1>{post.data.title}</h1>
                </a>
              </figcaption>
              <img
                src={post.data.heroImage}
                class="col-span-3 md:col-span-1 "
                alt="hero image"
              />
            </picture>
            <p>{post.data.description}</p>
            <div>
              <LinkNotes href={post.data.notes} />
              <LinkYoutube href={post.data.vclass} />
            </div>
          </article>
        );
      })
    }
  </section>
</Layout>
