---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Page.astro";
import LinkNotes from "../components/Links/LinkNotes.astro";
import LinkYoutube from "../components/Links/LinkYoutube.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, notes, vclass } =
  Astro.props;
---

<Layout title={title} description={description}>
  <article class="article-md">
    <h1>{title}</h1>
    <br />
    <img src={heroImage} alt="hero image" class="w-full my-4" />
    <div class="flex items-center justify-between my-4">
      <FormattedDate date={pubDate} />
      <div class="flex space-x-3">
        <LinkNotes href={notes} />
        <LinkYoutube href={vclass} />
      </div>
    </div>
    <slot />
  </article>
</Layout>
